<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace属性就是Dao层接口的全路径-->
<mapper namespace="yu.dao.CommentDao">



    <resultMap type="yu.bean.Comment" id="CommentResultMap">
        <result column="content" property="content"/>
        <result column="create_time" property="create_time"  javaType="java.util.Date" jdbcType="DATE"/>

        <association property="user" javaType="yu.bean.User">
            <id     column="user_id" property="id"/>
            <result column="username" property="username"/>
            <result column="head" property="head"/>
        </association>

    </resultMap>


    <resultMap type="yu.bean.Comment" id="ResultMap">
        <id column="commentId" property="id"/>
        <result column="content" property="content"/>
        <result column="create_time" property="create_time"  javaType="java.util.Date" jdbcType="DATE"/>

        <association property="user" javaType="yu.bean.User">
            <id     column="userId" property="id"/>
            <result column="username" property="username"/>
        </association>

        <association property="message" javaType="yu.bean.Message">
            <result column="title" property="title"/>
        </association>

    </resultMap>


    <select id="findComment"  resultMap="CommentResultMap" >
        select user_id,message_id,content,create_time,username,head from comment,users
        <where>
            <choose>
                <when test="messageId !=null and messageId!=''">
                    message_id=#{messageId}  and comment.user_id=users.id order by create_time desc
                </when>
            </choose>
        </where>
     </select>

    <select id="findCommentByUserId" resultMap="ResultMap">
         select comment.id as commentId,comment.content as content,comment.create_time as create_time,users.id as userId, users.username as username ,message.title as title   from comment,message,users
         where users.id=comment.user_id  and comment.message_id=message.id and message.user_id=#{userId} and trash=0 ORDER BY comment.create_time DESC
    </select>

    <insert id="addComment" parameterType="yu.bean.Comment">
      insert into comment(user_id,message_id,content,create_time) values(#{user_id},#{message_id},#{content},#{create_time})
    </insert>

    <delete id="deleteComment" >
        delete from comment where id=#{commentId}
    </delete>


</mapper>