<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 别名定义 -->
	<typeAliases>
		<package name="yu.bean" />
	</typeAliases>

	<!--mybatis通过JDK的动态代理方式，在启动加载配置文件时，根据配置mapper的xml去生成Dao的实现。-->
	<mappers>
		<mapper resource="yu/mapper/UserMapper.xml" />
		<mapper resource="yu/mapper/CommentMapper.xml" />
		<mapper resource="yu/mapper/CategoryMapper.xml" />
		<mapper resource="yu/mapper/MessageMapper.xml" />
		<mapper resource="yu/mapper/CarouselMapper.xml" />
	</mappers>
</configuration>
